.viewerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .viewerContainer {
        flex-direction: column;
    }
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}