.keypointEditorContainer {
    z-index: 2;
    width: 440px; 
    padding: 20px;
    margin: 5px;
    position: relative; 
    background-color: rgb(15, 23, 29);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(119, 117, 117);
    border-width: 1px;
}

.keypointGradient {
    z-index: 2;
    height: 40px;
    width: 400px;
    position: relative; 
    bottom: 0; 
    background-color: rgb(255, 255, 255);
}
.keypointAlphaCurve {
    z-index: 2;
    height: 80px;
    margin-top: 10px;
    width: 400px;
    position: relative; 
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;  
    border-radius: 5px; 
    background-color: rgb(0, 0, 0);
    padding: 10px;
       

}

.keypointIconsContainer {
    z-index: 2;
    height: 40px;
    width: 400px;
    position: relative;
    top: 0; 
}

.keypointColorPicker {
    z-index: 4;
    margin-top: 5px;
    position: relative;
    top: 0; 
}

.deleteButton {
    z-index: 3;
    position: relative;
    align-content: center;
    width: 80px;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
}